build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/pointcloudimage.obj
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/qrc_res.cpp
*.obj
*.manifest
*.res
*.pdb
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/Makefile
*.Release
*.ilk
*.rc
*.exe
*.Debug
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_camera.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_mainwindow.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_set.cpp
Duke/deployment.pri
Duke/Duke.pro.user
*.qrc
*.png
Duke/Duke.pro
Duke/Duke.pro
Duke/Duke.pro
Duke/Duke.pro
Duke/Duke.pro