build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/pointcloudimage.obj
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/qrc_res.cpp
*.obj
*.manifest
*.res
*.pdb
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/Makefile
*.Release
*.ilk
*.rc
*.exe
*.Debug
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_camera.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_mainwindow.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_set.cpp
Duke/deployment.pri
Duke/Duke.pro.user
*.qrc
*.png
Duke/Duke.pro
Duke/Duke.pro
Duke/Duke.pro
Duke/Duke.pro
Duke/Duke.pro
*.ini
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_mytransform.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_pregistration.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_registration.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_transform.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_transformwithhorn.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_multifrequency.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_mainwindow.h
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_Set.h
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_baslercamera.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_mainwindow.h
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_mainwindow.h
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_focusassistant.cpp
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_focusassistant.h
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_mainwindow.h
Duke/dotmatch.cpp.autosave
build-Duke-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_manualmatch.cpp